.about_container {
  margin: 4rem auto ;
  width: 85%;
  @media screen and (max-width: 950px) {
    width: 100%;
  }

  
}
// Animation appararition douce de la description
@keyframes slide_description {
  0% {
    // opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    // opacity: 1;
    transform: translateY(0);
  }
}
.collapse_container {
    margin-bottom: 30px;

    .collapse_header {
      display: flex;
      background-color: $red_color;
      color: $white_color;
      justify-content: space-between;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        @media screen and (max-width: 650px) {
          font-size: 0.8125rem;
        }
      }
      .collapse_arrow {
        transition: 0.8s;
         @media screen and (max-width: 650px) {
          width: 1rem;
        }
      }
      .collapse_arrow_open {
        transform: rotate(180deg);
      }
    }
    .collapse_description {
      background-color: $grey_background;
      color: $red_color;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 20px;
      border-radius: 0px 0px 5px 5px;
      line-height: 2.14rem;
      animation: slide_description 1.2s ease-in-out forwards;

      @media screen and (max-width: 650px) {
        font-size: 0.75rem;
        line-height: 1.07rem;
      }
    }
  }