.banner {
  position: relative;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin: 30px 0;
  @media screen and (max-width: 800px) {
    border-radius: 10px;
  }
  .banner_img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    filter: brightness(70%);
    background-position-x: 50%;
    background-position-y: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 800px) {
      border-radius: 10px;
      background-position-y: 50%;
    }
  }
  .banner_home {
    background-image: url('../../assets/banner_home.jpg');
  }

  .banner_about {
    background-image: url('../../assets/banniere_aboutxl.jpg');

    @media screen and (max-width: 800px) {
      background-image: url('../../assets/banniere_aboutxs.jpg');
    }
  }

  h1 {
    position: absolute;
    color: $white_color;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    @media screen and (max-width: 800px) {
      font-size: 1.5rem;
      width: 223px;
      margin-left: 20px;
      text-align: left;
    }
  }
}
.banner_home_sm {
  @media screen and (max-width: 800px) {
    height: 111px;
    justify-content: flex-start;
  }
}
