.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
   @media screen and (max-width: 319px) {
    flex-direction: column;
    gap: 2rem;
   }

  img {
    width: 210px;
    height: 68px;
    @media screen and (max-width: 600px) {
      width: 145px;
      height: 47px;
    }
  }
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  width: 250px;
  justify-content: space-between;
  @media (min-width :320px) and (max-width: 600px) {
    font-size: 0.75rem;
    width: 120px;
  }
   @media screen and (max-width: 319px) {
    width: 200px;
    font-size: 0.75rem;
   }
  a {
    color: $red_color;
    transition: all 0.7s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
  }
  .active {
    border-bottom: 2px solid $red_color;
  }
}
