.collapse_group_container{
    display: flex;
    justify-content: space-between;
.collapse_container{
    width: 47%;

.collapse_header{
    border-radius: 10px;
h1{
    font-size: 1.125rem;
}
}
.collapse_description{
     font-size: 1.125rem;
}

}
}