.rental_owner {
  justify-content: space-between;
  display: flex;

  .rental {
    h1 {
      color: $red_color;
      font-size: 2.25rem;
      font-weight: 500;
    }
    p {
      color: $red_color;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  .host {
    p {
      color: $red_color;
      font-size: 1.125rem;
      font-weight: 500;
    }
    img{
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }
  }
}
